# Python Arithmetic Operators Practice Notebook

# Q1  Addition

Write an expression that adds `8` and `12` and prints the result.

In [ ]:
print(8 + 12)

20

# Q2  Subtraction

Write an expression that subtracts `7` from `20` and prints the result.

In [1]:
print(20 - 7)

13

# Q3  Multiplication

Write an expression that multiplies `6` by `9` and prints the result.

In [2]:

print(6 * 9)

54

# Q4  Division

Write an expression that divides `45` by `9` and prints the result (normal division).

In [3]:

print(45 / 9)

5.0

# Q5  Floor Division

Write an expression that floor-divides `45` by `9` and prints the result.

Then floor-divide `50` by `6` and print the result to see how floor division works.

In [4]:
print(45 // 9)   # Floor-divides 45 by 9
print(50 // 6)   # Floor-divides 50 by 6

5
8

# Q6  Modulus

Write an expression that computes the remainder when `29` is divided by `5` and prints it.

In [5]:
print(29 % 5)

4

# Q7  Power

Compute `3` raised to the power `4` and print the result using the `**` operator.

In [6]:
print(3 ** 4)

81

# Q8  Unary plus and minus

Assign a positive number to a variable `x` and print `+x` and `-x`. Observe the outputs.

In [7]:
x = 10   # a positive number

print(+x)  # Unary plus (keeps the value the same)
print(-x)  # Unary minus (negates the value)

10
-10

# Q9  Combined expression and operator precedence

Without using parentheses, write an expression that computes `5 + 3 * 2` and prints the result. Then add parentheses to change the order so that addition happens first: `(5 + 3) * 2`.

In [9]:
print(5 + 3 * 2)    
print((5 + 3) * 2)

11
16

# Q10  Using variables

Assign two variables `a = 15` and `b = 4`. Compute and print **all** arithmetic operations between them: `+`, `-`, `*`, `/`, `//`, `%`, `**`.

In [10]:
a = 15
b = 4

print(a + b)   # Addition
print(a - b)   # Subtraction
print(a * b)   # Multiplication
print(a / b)   # Division
print(a // b)  # Floor division
print(a % b)   # Modulus (remainder)
print(a ** b)  # Power

19
11
60
3.75
3
3
50625

# Q11 - Compound assignment

Start with `n = 10`. Use compound assignment operators to:
- add 5 (`n += 5`), print
- multiply by 2 (`n *= 2`), print
- subtract 4 (`n -= 4`), print
(Place each statement so students can see the updated `n` after each operation.)

In [11]:
n = 10

n += 5    # Add 5
print(n)  # Output: 15

n *= 2    # Multiply by 2
print(n)  # Output: 30

n -= 4    # Subtract 4
print(n)  # Output: 26

15
30
26

# Q12  Swapping values (without a third variable)

Given `x = 3` and `y = 7`, swap their values using Python tuple assignment and print `x` and `y` after swapping.

In [12]:
x = 3
y = 7

x, y = y, x  # Swap values
print(x)     # Output: 7
print(y)     # Output: 3

7
3

# Q13 - Input: Sum of two numbers

Ask the user to input two numbers (integers). Add them and print `Sum: <result>`.

In [17]:
# Ask the user to input two integers
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

# Compute the sum
sum_result = num1 + num2

# Print the result
print("Sum:", sum_result)

Sum: 20

# Ask the user to input two integers
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

# Compute the sum
sum_result = num1 + num2

# Print the result
print("Sum:", sum_result)

# Q14 - Input: Average of three numbers

Ask the user to input three numbers (floats allowed). Compute their average and print `Average: <result>`.

In [15]:
# Ask the user to input three numbers
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

# Compute the average
average = (num1 + num2 + num3) / 3

# Print the result
print("Average:", average)

Average: 13.333333333333334

# Q15 - Input: Circle calculations

Ask the user to input the radius of a circle (float). Compute and print:
- Circumference = `2 * 3.14159 * radius`
- Area = `3.14159 * radius ** 2`

In [16]:
# Ask the user to input the radius
radius = float(input("Enter the radius of the circle: "))

# Compute circumference and area
circumference = 2 * 3.14159 * radius
area = 3.14159 * radius ** 2

# Print the results
print("Circumference:", circumference)
print("Area:", area)

Circumference: 125.6636
Area: 1256.636

# Q16 - Input: Convert total seconds to hours, minutes, seconds

Ask the user to input a total number of seconds (integer). Convert it to hours, minutes, and seconds and print as `H:M:S`.

In [11]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.

seconds=12000
minute=seconds/60
hour=minute/60
print(hour)


c

3.3333333333333335

# Q17 - Input: Simple interest calculation

Ask user for `principal`, `rate` (annual percent), and `time` (years). Compute simple interest as `(principal * rate * time) / 100` and print `Interest: <result>`.

In [7]:
# Answer here
principal = int(input("Enter pricipal amt:"))

input()
print()

rate= int(input("ENter rate"))
time= int(input("enter time in years:"))

interest=(principal * rate * time)
print(interest)

Enter pricipal amt:100000
ENter rate6
enter time in years:3
1800000